{% extends '@content/page.twig' %}
{% block header %}
    <section class="col-md-12 mt-5">
        <h1 class="cntr">UPLOAD NOTES </h1>
    </section>
{% endblock header %}

{% block main %}

{# consider showing success msg when uploading file successfully #}
{% include '@util/message.twig' %}
{# consider showing success msg when uploading file successfully #}

        <section class="row">
            <article class="ml-auto col-md-8 mr-auto">
                <form action="#" method="post" role="form" enctype="multipart/form-data">
                    
                    <div class="form-group">
                    <label>Module Code</label>
                    <select required="required" class="form-control" name="modulecode">
                    <option value="">None</option>
                    <option>CSC3123</option>
                    <option>CSC3124</option>
                    <option>CSC3324</option>
                    <option>CSC3422</option>
                    <option>CSC3122</option>
                    </select>
                    </div>

                    <div class="form-group">
                    <label>Lecture Name</label>
                    <select required="required" class="form-control" name="lecturename">
                    <option value="">None</option>
                    <option>Twig</option>
                    <option>SEO</option>
                    <option>PHP</option>
                    <option>MySQL</option>
                    <option>CSS</option>
                    </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Tags (Separate by Comma) </label>
                        <input type="text" id="un" name="tags" placeholder="Tags" class="form-control" required="required"
                            data-parsley-trigger="change"  data-parsley-remote-reverse="false" data-parsley-type="alphanum"
                        />
                    </div>

                    <label class="control-label">Enable Public Access </label>
                    <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="publicaccess" id="exampleRadios1" value="option1" checked />
                    <label class="form-check-label">
                    No
                    </label>
                    </div>

                    <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="publicaccess" id="exampleRadios2" value="option2" />
                    <label class="form-check-label">
                    Yes
                    </label>
                    </div>

                    <div class="form-group">
                        <label for="f0" class="control-label">File</label>
                        <input type="file" id="f0" name="uploads[]" class="form-control-file" required="required" />
                    </div>
                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </article>
        </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}